.navbar {
  font-family: "Kudajets", sans-serif;
  padding: 0;
  width: 100%;
}

#socials {
  text-align: center;
}

.center {
  text-align: center;
  height: 250px;
}

.contact {
  color: #99A07D;
  font-family: "Kudajets", sans-serif;
  font-size: 2em;
  margin-bottom: 1%;
  margin-top: 1%;
  text-align: center;
}

.contact:hover {
  color: gray;
}

.contact-info {
  font-family: "Kudajets", sans-serif;
  padding-top: 5%;
  padding-left: 10%;
  padding-right: 10%;
}

#portrait {
  text-align: center;
}

a {
  text-decoration: none;
}

p {
  font-family: "Kudajets", sans-serif;
}

body {
  background-color: #EEEBDD;
}

h1 {
  font-family: "Kudajets", sans-serif;
  margin-top: 5%;
}

h2 {
  color: #99A07D;
  font-family: "Kudajets", sans-serif;
  margin-bottom: 5%;
}

.resize-small {
  height: 500px;
}

.container-fluid {
  font-family: "Kudajets", sans-serif;
}

i.fab {
  color: #99A07D;
}

i.fab:hover {
  color: gray;
}

.description {
  font-family: "Kudajets"; sans serif;
}

.btn {
  background-color: #99A07D;
  border: 0;
  margin-top: 5%;
}

.btn:hover {
  background-color: gray;
}

.title-of-work {
  margin-top: 5%;
}

.img-fluid {
  margin-bottom: 2%;
}
