.navbar {
  font-family: "Ubuntu", sans-serif;
  padding: 0;
  width: 100%;
}

#socials {
  text-align: center;
}

.center {
  text-align: center;
  height: 250px;
}

#portrait {
  text-align: center;
}

a {
  text-decoration: none;
}

h2 {
  color: #99A07D;
  margin-top: 5%;
  margin-bottom: 5%;
}

.resize-small {
  height: 500px;
}
