.navbar {
  font-family: "Ubuntu", sans-serif;
  padding: 0;
  width: 100%;
}

#socials {
  text-align: center;
}

.center {
  text-align: center;
  height: 250px;
}

.contact {
  color: #99A07D;
  font-family: "Ubuntu", sans-serif;
  font-size: 2em;
  margin-bottom: 1%;
  margin-top: 1%;
  text-align: center;
}

.contact:hover {
  color: gray;
}

.contact-info {
  font-family: "Ubuntu", sans-serif;
  padding-top: 5%;
  padding-left: 10%;
  padding-right: 10%;
}

#portrait {
  text-align: center;
}

a {
  text-decoration: none;
}

body {
  background-color: #EEEBDD;
}

h2 {
  color: #99A07D;
  font-family: "Ubuntu", sans-serif;
  margin-top: 5%;
  margin-bottom: 5%;
}

.resize-small {
  height: 500px;
}

i.fab {
  color: #99A07D;
}

i.fab:hover {
  color: gray;
}
