.navbar {
  font-family: "Kudajets", sans-serif;
  padding: 0;
  width: 100%;
  position: fixed;
  z-index: 1;
}

h1 {
  font-family: "Kudajets", sans-serif;
  text-align: center;
  padding-top: 10%;
  padding-bottom: 5%;
}

.row {
  margin-bottom: 5%;
}

.column {
  width: 33%;
}

body {
  background-color: #EEEBDD;
}

h5 {
  font-family: "Kudajets", sans-serif;
  text-align: center;
}

a {
  color: gray;
  text-decoration: none;
}

a:hover {
  color: #99A07D;
  }

#socials {
  font-family: "Kudajets", sans-serif;
  text-align: center;
}

.center {
  font-family: "Kudajets", sans-serif;
  text-align: center;
  height: 250px;
}

.img-thumbnail {
  height: 300px;
  text-align: center;
}

.card-title {
  color: #99A07D;
}

.card {
  background-color: #FEF9EF;
}
