body {
  background-color: #EEEBDD;
}

.navbar {
  font-family: "Kudajets", sans-serif;
  position: fixed;
  z-index: 1;
  padding: 0;
  width: 100%;

}

.card-img-top {
  height: auto;
}

.card {
  background-color: #FEF5ED;
  padding: 5%;
  width: 33%;
}

h5 {
  font-family: "Kudajets", sans-serif;
}

.carousel-inner {
  background-color: #EEEBDD;
  padding: 3%;
  text-align: center;
  height: auto;
}

.carousel-item {
  height: auto;
}

.pad {
  padding-top: 15%;
}

.padd {
  padding-top: 20%;
}

a {
  text-decoration: none;
}

p {
  font-family: "Kudajets", sans-serif;
}

.center {
  text-align: center;
  height: 250px;
}

#about {
  color: #EEEBDD;
  background-color: #99A07D;
  font-family: "Kudajets", sans-serif;
  padding: 10%;
  text-align: justify;
  margin-left: 10%;
  margin-right: 10%;
}

#socials {
  text-align: center;
}

i.fab {
  color: #99A07D;
}

i.fab:hover {
  color: gray;
}

#portrait {
  text-align: center;
}

.content-alone {
  height: auto;
  text-align: center;
}
