.navbar {
  position: fixed;
  z-index: 1;
  width: 100%;

}

.card {
  padding: 1%;
  width: 33%;
}

.carousel-inner {
  background-color: #EEEBDD;
  padding: 3%;
  text-align: center;
}

.carousel-item {
  height: 650px;;
}

a {
  text-decoration: none;
}

.center {
  text-align: center;
  height: 250px;
}

#socials {
  text-align: center;
}
